.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: $white;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: sticky;
    animation-duration: 0.4s;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-side {
      display: flex;
    }
    &-buttons {
      display: flex;
      margin-left: 20px;
    }
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 97px;
      img {
        width: 100%;
      }
    }
  }
}
// 1180px
@mixin header-xlg-xxlg {
  .header {
    &__inner {
      &-logo {
        width: 80px;
      }
      &-buttons {
        margin-left: 10px;
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    &__inner {
      padding: 20px 0;
      &-logo {
      }
      &-buttons {
        align-items: center;
        margin-left: 0;
      }
    }
  }
}
// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      padding: 16px 0;
      &-logo {
        width: 70px;
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
